
.contact__title {
    margin-top: 6.25rem;
    color: rgb(18,53,80);
}

.contact-inputs input,  .contact-inputs textarea {
    width: 100%;
    padding: 1rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    border: 1px solid #f0e9ff;
    border-radius: 8px;
    padding-left: 1.125rem;
    font-size: 0.8125rem;
    background-color: transparent;
    color: #495057;
    box-sizing: border-box;
    /*min-height: 56px;*/
}

.contact-inputs *:focus {
    color: darkblue;
}

.half-flex {
    display: flex;

}

.contact-input__name,
.contact-input__email {
    padding-left: 0.625rem;
    flex: 1;
}

.contact__send {
    margin-top: 1.875rem;
}

@media only screen and (max-width: 991px) {
    .half-flex {
        flex-direction: column;
    }

    .contact-input__email,
    .contact-input__name {
        padding: 0;
    }

}



