
.contact__title {
    margin-top: 6.25rem;
    color: rgb(18,53,80);
}

.contact-inputs input,  .contact-inputs textarea {
    width: 100%;
    padding: 1rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    border: 1px solid #f0e9ff;
    border-radius: 8px;
    padding-left: 1.125rem;
    font-size: 0.8125rem;
    background-color: transparent;
    color: #495057;
    box-sizing: border-box;
    /*min-height: 56px;*/
}

.contact-inputs *:focus {
    color: darkblue;
}

.half-row {
    display: inline-block;
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.contact-input__name {
    padding-right: 0.625rem;
}

.contact-input__email {
    padding-left: 0.625rem;
}

.contact__send {
    margin-top: 1.875rem;
}