/* Main section */
.main-section {
    padding: 2.5rem 1.875rem;
}

.main-section > div {
    width: 50%;
    float: left;
}

.main-section__image {
    text-align: right;
}

.main-section__welcome {
    font-size: 1.3125rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
    letter-spacing: 2px;
    color: #797979;
}

.main-section__introduction {
    margin-top: 1.25rem;
    font-size: 3.125rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    color: #0536AE;
}

.main-section__position {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
    color: #0536AE;
}

.main-section__social-networks a {
    color: #8FA1AA;
    font-size: 1.25rem;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
}

.main-section__social-networks a:hover {
    color: #1C44E4;
}


.main-section__action {
    margin-top: 1.875rem;
}

/* Statistics section */
.statistics {
    padding-top: 6.25rem;
}

.statistics__item {
    display: inline-block;
    background-color: #F8FAFF;
    text-align: center;
    padding: 5px 0.625rem;
    margin: 1.25rem;
    width: 210px;
}

.statitics__number {
    font-size: 1.6875rem;
    margin-bottom: 5px;
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.statistics__title {
    font-size: 1.6875rem;
    margin-bottom: 5px;
    color: #969db9;
}

/* About me */
.about-me {
    padding: 6.25rem 0;
}

.about-me > div {
    width: 50%;
    float: left;
}

.about-me__image img {
    width: 85%;
    border-radius: 50%;
}

.about-me__description {
    font-size: 0.875rem;
    font-weight: 300;
    color: #797979;
    line-height: 1.6875rem;
}

.about-me__action {
    margin-top: 2.5rem;
}

/* Service */
.services {
    padding-top: 3.75rem;
}

.service-card {
    display: inline-block;
    width: 30%;
    padding: 3.75rem 1.875rem;
    background-color: #F8FAFF;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
}

.service-card > img {
    width: 65%;
    border-radius: 35%;
}

.service-card__title {
    color: #05364D;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}

.service-card__description {
    color: #05364D;
    font-size: 0.8125rem;
    font-weight: 500;
    text-transform: uppercase;
}

.service-card__link {
    color: #05364D;
    font-size: 0.8125rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.service-card:hover {
    background-color: #5f30ff;
}

.service-card:hover .service-card__link,
.service-card:hover .service-card__description,
.service-card:hover .service-card__title {
    color: white;
}

/* Clients */
.clients {
    padding-top: 1.25rem;
}

.clients-subtitle {
    letter-spacing: 2px;
    font-size: 0.875rem;
    font-weight: 300;
    color: #797979;
    text-transform: uppercase;
}

.clients-title {
    margin-top: 5px;
    font-size: 2.625rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #05364D;
}

.client-item > div {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.client-item__image img {
    width: 80%;
    border-radius: 35%;
}

.client-item__info {
    padding-top: 3.125rem;
    padding-left: 3.125rem;
}

.client-item__name {
    font-size: 2.625rem;
    margin-bottom: 4px;
}

.client-item__position {
    font-size: 0.875rem;
    font-weight: 300;
    color: #5b6d75;
}

.client-item__review {
    font-size: 0.875rem;
    line-height: 1.6875rem;
    font-weight: 300;
    color: #5b6d75;
}

.client-item__rate {
    color: #FFD805;
}

/* Portfolio */
.portfolio {
    padding: 6.25rem 0;
}

.portfolio-items {
    position: relative;
    /*margin-top: 50%;*/
}

.portfolio-filters {
    list-style: none;
    padding-left: 0;
    margin-top: 3.125rem;
}

.portfolio-filters li {
    display: inline-block;
    margin-right: 2.5rem;
    font-size: 0.8125rem;
    font-weight: 400;
    text-transform: uppercase;
}

.portfolio-filters li:hover {
    color: dodgerblue;
    cursor: pointer;
}

.portfolio-filters li.active {
    color: blue;
}

.portfolio-item {
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 0.625rem;
    box-sizing: border-box;
}

.portfolio-item-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.portfolio-item-1 {
    padding-left: 0;
}

.portfolio-item__image {
    width: 100%;
}

.portfolio-item__overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(19, 69, 230, 0.9);
    visibility: hidden;
    z-index: 1;
}

.portfolio-item__info {
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: white;
    visibility: hidden;
    z-index: 1;
}

.portfolio-item__info a {
    text-decoration: none;
    color: white;
}

.portfolio-item:hover .portfolio-item__overlay {
    visibility: visible;
    left: 1.25rem;
    top: 1.25rem;
}

.portfolio-item:hover .portfolio-item__info {
    visibility: visible;
    top: 1.25rem;
    right: 3.75rem;
}

/* Blog */
.blog {
    padding-top: 6.25rem;
}

.blog-items {
    margin-top: 3.125rem;
}

.blog-item {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    /*box-sizing: border-box;*/
}

.blog-item__image img {
    width: 100%;
}

.blog-item:hover .blog-item__info {
    background-color: white;
    box-shadow: 0px 10px 20px rgba(5, 54, 77, 0.1);
}

.blog-item__info span {
    margin-right: 2.5rem;
    font-size: 0.875rem;
    font-weight: lighter;
}

.blog-item__info {
    font-size: 15px;
    line-height: 1.6875rem;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    padding: 0.625rem;
    color: #797979;
    background-color: #f8faff;
}

.blog-item__topic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #05364d;
    font-size: 1.25rem;
}

.blog-item__more {
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-width: 500;
    color: #05364D;
    text-decoration: none;
}

.blog-item__more:hover {
    color: #ed239f;
    text-decoration: #5f30ff;
}

/* Partners */
.partners {
    padding-top: 6.25rem;
}

.partner {
    display: inline-block;
    padding: 0 2.8125rem;
}

.partner img {
    width: 132px;
}

@media only screen and (max-width: 991px) {
    /* Main */
    .main-section__image {
        display: none;
    }

    .main-section > div {
        width: 100%;
    }

    /*  Statists    */
    .statistics {
        padding-top: 1rem;
        text-align: center;
    }

    /*  About me    */
    .about-me {
        padding: 1.5rem 0;
    }

    .about-me > div {
        width: 100%;
    }

    .main-section__introduction {
        font-size: 3rem;
    }

    .about-me__image img {
        display: none;
    }

    /*  Services   */
    .services {
        padding: 1.5rem 0;
    }

    .service-card {
        width: 45%;
        margin-bottom: 20px;
    }

    /*  Clients */
    .clients {
        padding: 1.5rem 0;
    }

    .client-item > div {
        width: 100%;
        float: none;
    }

    /*    Blog    */
    .blog {
        padding: 1.5rem 0;
    }

    .blog-item {
        width: 45%;
        margin-bottom: 20px;
    }

    /*    Partners    */
    .partners {
        padding: 1.5rem 0;
    }

    .partner {
        display: block;
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }


}

@media only screen and (max-width: 767px) {
    /* Main */
    .main-section__action {
        display: none;
    }

    /*  Statists    */
    .statistics__item {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        box-sizing: border-box;
    }

    /*  Services   */
    .service-card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }


    /* Portfolio */
    .portfolio {
        padding: 1.5rem 0;
    }

    .portfolio-item {
        width: 100%;
    }

    .portfolio-item-1,
    .portfolio-item-2 {
        position: static;
    }

    /*    Blog    */
    .blog-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

}





